#s-1a32bbfe-e1e2-4322-99ca-10e584ec7a4d #s-Line_1 {
  rotation: 90.0;
  margin-left: 383px;
  margin-top: -384px;
}
#s-1a32bbfe-e1e2-4322-99ca-10e584ec7a4d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a32bbfe-e1e2-4322-99ca-10e584ec7a4d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a32bbfe-e1e2-4322-99ca-10e584ec7a4d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a32bbfe-e1e2-4322-99ca-10e584ec7a4d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a32bbfe-e1e2-4322-99ca-10e584ec7a4d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a32bbfe-e1e2-4322-99ca-10e584ec7a4d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1a32bbfe-e1e2-4322-99ca-10e584ec7a4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}