#s-3b854b56-acea-4a45-8e1c-26022ff97a92 #s-Line_1 {
  rotation: 90.0;
  margin-left: 383px;
  margin-top: -384px;
}
#s-3b854b56-acea-4a45-8e1c-26022ff97a92 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b854b56-acea-4a45-8e1c-26022ff97a92 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b854b56-acea-4a45-8e1c-26022ff97a92 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b854b56-acea-4a45-8e1c-26022ff97a92 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b854b56-acea-4a45-8e1c-26022ff97a92 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b854b56-acea-4a45-8e1c-26022ff97a92 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3b854b56-acea-4a45-8e1c-26022ff97a92 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}