#s-4727d8a3-29c9-4bef-badb-c5299ccba9ff #s-Line_1 {
  rotation: 90.0;
  margin-left: 383px;
  margin-top: -384px;
}
#s-4727d8a3-29c9-4bef-badb-c5299ccba9ff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4727d8a3-29c9-4bef-badb-c5299ccba9ff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4727d8a3-29c9-4bef-badb-c5299ccba9ff #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4727d8a3-29c9-4bef-badb-c5299ccba9ff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4727d8a3-29c9-4bef-badb-c5299ccba9ff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4727d8a3-29c9-4bef-badb-c5299ccba9ff #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4727d8a3-29c9-4bef-badb-c5299ccba9ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}