#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Line_1 {
  position: absolute;
  top: 389px;
  left: -184px;
  width: 770px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_1 {
  position: absolute;
  top: 34px;
  left: 284px;
  width: 632px;
  height: 64px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 36.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_2 {
  position: absolute;
  top: 120px;
  left: 222px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Line_2 {
  position: absolute;
  top: 108px;
  left: 201px;
  width: 822px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_3 {
  position: absolute;
  top: 172px;
  left: 225px;
  width: 628px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Flash_2 {
  position: absolute;
  top: 559px;
  left: 228px;
  width: 642px;
  height: 248px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_4 {
  position: absolute;
  top: 500px;
  left: 228px;
  width: 628px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Paragraph_1 {
  position: absolute;
  top: 222px;
  left: 228px;
  width: 642px;
  height: 258px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_1 {
  position: absolute;
  top: 168px;
  left: 0px;
  width: 198px;
  height: 120px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  z-index: 100;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_2 {
  background-color: #FFFFFF;
  background-image: none;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_2-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_5 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_5-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_6 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_6-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_1-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_4 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_4-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_3 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_3-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_13 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_13-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_14 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_14-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_15 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee #s-Menu_item_15-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b59f8fde-9ced-46e8-bc83-55bb58d566ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}