#s-c9d34373-0119-4c05-82d9-28aabb99fb87 #s-Line_1 {
  rotation: 90.0;
  margin-left: 383px;
  margin-top: -384px;
}
#s-c9d34373-0119-4c05-82d9-28aabb99fb87 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9d34373-0119-4c05-82d9-28aabb99fb87 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9d34373-0119-4c05-82d9-28aabb99fb87 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9d34373-0119-4c05-82d9-28aabb99fb87 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9d34373-0119-4c05-82d9-28aabb99fb87 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9d34373-0119-4c05-82d9-28aabb99fb87 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9d34373-0119-4c05-82d9-28aabb99fb87 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}