#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_5 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_6 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_4 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_13 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_14 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_15 {
  height: 28px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}